/*
 * TODO: Move all the styles to .jsx if its too short
 */

.sidepanel {
    // Setting min-max width for panel
    .MuiPaper-root {
        max-width: 50em;
        min-width: 20em;
    }

    // making divider visible to grab
    .MuiDivider-vertical {
        height: 100vh;
        width: 2px;
        cursor: col-resize;
    }
}
