/*
 * TODO: Move all the styles to .jsx if its too short
 */

.container {
    flex-wrap: nowrap !important;
}

.sidebar {
    height: 100vh;
    width: 5em !important;
    flex-grow: 1;
    flex-wrap: nowrap !important;
    z-index: 1;
}

.sidepanel {
    height: 100vh !important;
    flex-grow: 1;
    flex-wrap: nowrap !important;
    align-items: flex-start;
}
