.window {
	height: 100vh;
	width: 100vw;
	display: flex;
	background-color: #fbf1c7;
	position: relative;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: inherit;
}

.tabbar {
	width: 4.5rem;
	height: 100vh;
}

.accordions {
	color: #ebdbb2;
	background-color: #282828;
}
