:root {
	--black: #282828;
	--white: #ebdbb2;
	--hard-white: #fbf1c7;
}

.window {
	height: 100vh;
	width: 100vw;
	display: flex;
	background-color: var(--hard-white);
	position: relative;
	flex-wrap: nowrap;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: inherit;
}

.sidebar {
	width: 4.5rem;
	height: 100vh;
}

.accordions {
	color: var(--white);
	background-color: var(--black);
}

.editor {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
