/*
 * TODO: Move all the styles to .jsx if its too short
 */

.sidebar {
    .MuiPaper-outlined {
        height: 100vh;
        width: 5em;
    }

    .MuiTab-root {
        padding: 8px 12px;
        max-width: 5em;
    }
}

span.MuiTab-wrapper {
    padding: 5px;
    align-items: flex-start;
    justify-content: space-evenly;
}
